# Ignore system & editor files
.DS_Store
.vscode/

# Ignore Python junk
__pycache__/
*.pyc

# Ignore any local venvs
venv/
.envrc

# Ignore macOS double-clickable launcher
run_simulator.command

# Ignore dev-only script
dev_runner.py

# Ignore PyInstaller build outputs
build/
dist/
*.spec